body {
    margin: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 2px solid #fff;
    background-color: #111;
}

.pantalla-inicio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    color: white;
    font-family: Arial, sans-serif;
}

.pantalla-inicio h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#btn-jugar {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

#btn-jugar:hover {
    background-color: #0056b3;
}


.hud {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    font-family: 'Arial', sans-serif;
}

.hud-item {
    color: white;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.6);
    padding: 6px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.hud-item i {
    font-size: 16px;
    color: gold;
}

.hud-item:nth-child(2) i {
    color: red;
}

.hud-item:nth-child(3) i {
    color: yellow;
}

.pantalla-gameover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 30;
    font-family: Arial, sans-serif;
}

.pantalla-gameover h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: red;
}

.pantalla-gameover p {
    font-size: 24px;
    margin-bottom: 20px;
}

#btn-reintentar {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

#btn-reintentar:hover {
    background-color: #218838;
}

.pantalla-pausa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 40;
    color: white;
    font-family: Arial, sans-serif;
}

.pantalla-pausa h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

#btn-reanudar {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #ffc107;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

#btn-reanudar:hover {
    background-color: #e0a800;
}